<div id="<%= dom_id bookmark %>">
  <div>
    <strong>Poster:</strong>
    <%= image_tag "#{bookmark.movie.poster_url}", alt: "#{bookmark.movie.title}", width: 200 %>
  </div>
  
  <div>
    <strong>Title:</strong>
    <%= bookmark.movie.title %>
  </div>

  <div>
    <strong>Overview:</strong>
    <%= bookmark.movie.overview %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= bookmark.movie.rating %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= bookmark.comment %>
  </div>
</div>
