<p style="color: green"><%= notice %></p>

<h1>List - <%= @list.name %></h1>

<div>
  <h2>Movies for <%= @list.name %></h2>
  <% if @list.bookmarks.empty? %>
    <p>You don't have any bookmarks yet.</p>
  <% else %>
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "card", bookmark: bookmark %>
    <% end %>
  <% end %>
</div>

<br>

<div>
  <h2>Add a new bookmark</h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, label_method: :title %>
    <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
  <% end %>
</div>

<br>

<div>
  <%= link_to "Back to lists", lists_path, class: "btn btn-primary" %>
</div>
